{% extends 'feedback/base.html' %}

{% block content %}
<p>Listed below are the currently outstanding mentor feedbacks:</p>
<table class="feedback_table" border= "1">
            {% for feedback in feedbacks %}
                    <tr>
                        <td><a href="{% url 'feedback_detail' pk=feedback.pk %}">{{ feedback.mentor_name }}</a></td>
                        <td>{{ feedback.published_date }}</td>
                        <td style="padding:5px">{{ feedback.current_session }}</td>
                    </tr>
            {% endfor %}
</table>
{% endblock %}