{% extends 'feedback/base.html' %}

{% block content %}
    <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="btn btn-default" href="{% url 'feedback_edit' pk=feedback.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'feedback_remove' pk=feedback.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    <div class="feedback">
        <h2>{{ feedback.mentor_name }}</h2>
         {% if feedback.published_date %}
            {{ feedback.published_date }}
        {% else %}
            <a class="btn btn-default" href="{% url 'feedback.views.post_publish' pk=feedback.pk %}">Publish</a>
        {% endif %}
        </div>
    <div class="feedback">
        <p><span class="notes">Feedback from Advisor:&nbsp;</span>{{ feedback.text|linebreaks }}</p>
        <p><span class="notes">Call notes:&nbsp;</span>{{ feedback.notes|linebreaks }}</p>
    </div>
<form method="POST">{% csrf_token %}
    <button type="submit"><a class="btn btn-default" href="{% url 'views.feedback_list'}"><span class="glyphicon glyphicon-ok"></span></a></button>
    </form>
{% endblock %}