{% extends 'feedback/base.html' %}

{% block content %}
            {% for feedback in feedbacks %}
                <div class="feedback">
                    <div class="date">
                        <p>published: {{ feedback.published_date }}</p>
                    </div>
                    <h3><a href="{% url 'feedback_detail' pk=feedback.pk %}">{{ feedback.mentor_name }}</a></h3>
                    <p>{{ feedback.text|linebreaks }}</p>
                </div>
            {% endfor %}
{% endblock %}